/* <!-- Write CSS syntax and explain selector, property, value (with code) --> */


/* css syntax  is given below  */
/* selector{

property:value

}
 */

 /* eg  */
 h1{
    color: blue;
 }

 /* here h1 is selector color is property and blue is value */
