nav{
    background-color: bisque;
    padding: 10px;
    overflow: hidden;
}


.logo{
    float: left;
    margin: 0;
    line-height: 30px;
}


.menu{
    float: right;
    
}
.menu>a{
    text-decoration: none;
    line-height: 30px;
}

