body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  width: 200px;
  height: 150px;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
