.parent{
    width: 300px;
    height: 200px;
    background-color: lightgray;
    position: relative;
}

.child{
    width: 80px;
    height: 50px;
    background-color: darkgray;
    /* position: relative;
    top: 20px;
    left: 30px; */
    position: absolute;
    top: 20px;
    right: 20px;
}