.container{
    width: 80%;
    margin: 40px auto;
    display: flex;
    background-color: bisque;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.card1,.card2,.card3{
    width: 200px;
    padding: 15px;
    background-color: lightgray;
    border: 2px solid lightpink;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    border-radius: 6px;
    
    text-align: center;
     display: flex;
  flex-direction: column;


    

}


.card1 button,
.card2 button,
.card3 button {
  margin-top: auto;
}